includes:
	- vendor/korbeil/phpstan-generic-rules/extension.neon
	- vendor/phpstan/phpstan-doctrine/extension.neon
	- vendor/phpstan/phpstan-strict-rules/rules.neon
	- vendor/phpstan/phpstan-webmozart-assert/extension.neon
	- vendor/thecodingmachine/phpstan-safe-rule/phpstan-safe-rule.neon

parameters:
    reportUnmatchedIgnoredErrors: true

    symfony:
        container_xml_path: tests/Application/var/cache/test/ApplicationTests_Setono_SyliusPickupPointPlugin_Application_KernelTestDebugContainer.xml

    excludes_analyse:
        # Makes PHPStan crash
        - 'src/DependencyInjection/Configuration.php'

    ignoreErrors:
        - '/Parameter #1 $configuration of method Symfony\Component\DependencyInjection\Extension\Extension::processConfiguration() expects Symfony\Component\Config\Definition\ConfigurationInterface, Symfony\Component\Config\Definition\ConfigurationInterface|null given./'
        - '/PHPDoc tag @throws with type Psr\\Cache\\InvalidArgumentException is not subtype of Throwable/'
