parameters:
	checkMissingIterableValueType: false
	reportUnmatchedIgnoredErrors: true

	excludes_analyse:
		# Makes PHPStan crash
		- 'src/DependencyInjection/Configuration.php'

	ignoreErrors:
		- '/Parameter #1 \$configuration of method .+Extension::processConfiguration\(\) expects .+\ConfigurationInterface, .+\ConfigurationInterface\|null given\./'
		- '/is not subtype of Throwable/'
